In [2]:
#Import modules that are needed

import cx_Oracle, os, sqlalchemy as sa, sys, pandas as pd
from dotenv import load_dotenv
from sqlalchemy import types,create_engine
cx_Oracle.init_oracle_client(lib_dir=r'C:\Users\fgshittu\Downloads\instantclient_21_3')

In [ ]:
#Install python-dotenv to enable loading from a .env file
#Install cx_Oracle to enable access to an oracle database

#!{sys.executable} -m pip install python-dotenv
#!{sys.executable} -m pip install cx_Oracle

In [19]:
#Establish a connection to the database

load_dotenv()
DIALECT = 'oracle'
SQL_DRIVER = 'cx_oracle'
USERNAME = os.getenv('ORACLE_USERNAME')
PASSWORD = os.getenv('ORACLE_PASSWORD')
HOST = os.getenv('HOST')
PORT = os.getenv('PORT') 
SERVICE = os.getenv('SERVICE')

connection_path = DIALECT + '+' + SQL_DRIVER + '://' + USERNAME + ':' + PASSWORD +'@' + HOST + ':' + str(PORT) + '/?service_name=' + SERVICE

engine = create_engine(connection_path)

In [4]:
#Bring data in from the database

data = pd.read_sql('select * from account_master where rownum <= 20', engine)
data.head()

,branch_code,cust_no,cust_ac_no,ac_desc,ccy,account_class,ac_class_type,acc_class_desc,category,ac_open_date,...,bvn,bvn_channel,acct_channel,blocked_status,total_blocked_amt,loan_exists,loan_type,si,agent_id,last_txn_date
0,557,004940151,0129913620,MOSES OGHENERO AMINGO,NGN,SA_014,S,UNION KORRECT,SAVINGS,2020-02-05,...,22260526913,FCUBS,INSTANT TSP,N,NaN,N,None,N,None,NaT
1,182,010756706,0153681917,ADENIJI GANIYAT,NGN,SA_006,S,UNION SAVE,SAVINGS,2021-03-08,...,22611400976,FCUBS,IBPS,Y,4.00,N,None,N,None,2022-02-06
2,614,007356169,0075533705,ONYEMATA CHINEME D,NGN,SA_020,S,UNION FUTURE SAVINGS ACCOUNT,SAVINGS,2018-01-29,...,22460875310,FCUBS,IBPS,N,NaN,N,None,N,None,NaT
3,609,006842830,0062788961,IDOWU OKUNOLA,NGN,SA_001,S,SAVINGS ACCOUNT - INDIVIDUAL,SAVINGS,2017-06-14,...,22436777176,FCUBS,IBPS,N,NaN,N,None,N,None,NaT
4,440,008106027,0093245642,OKON PRINCE,NGN,SA_007,S,UNION SAVE MORE,SAVINGS,2018-09-11,...,22147629975,FCUBS,BULK ACCOUNT,Y,53.75,N,None,N,None,2022-01-04

In [5]:
#Drop a few columns

data.drop(['cust_no','ccy','category'], axis =1, inplace=True)
data.head()

,branch_code,cust_ac_no,ac_desc,account_class,ac_class_type,acc_class_desc,ac_open_date,lcy_opening_bal,acy_opening_bal,lcy_curr_balance,...,bvn,bvn_channel,acct_channel,blocked_status,total_blocked_amt,loan_exists,loan_type,si,agent_id,last_txn_date
0,557,0129913620,MOSES OGHENERO AMINGO,SA_014,S,UNION KORRECT,2020-02-05,10260.05,10260.05,10260.05,...,22260526913,FCUBS,INSTANT TSP,N,NaN,N,None,N,None,NaT
1,182,0153681917,ADENIJI GANIYAT,SA_006,S,UNION SAVE,2021-03-08,2089.54,2089.54,2089.54,...,22611400976,FCUBS,IBPS,Y,4.00,N,None,N,None,2022-02-06
2,614,0075533705,ONYEMATA CHINEME D,SA_020,S,UNION FUTURE SAVINGS ACCOUNT,2018-01-29,0.00,0.00,0.00,...,22460875310,FCUBS,IBPS,N,NaN,N,None,N,None,NaT
3,609,0062788961,IDOWU OKUNOLA,SA_001,S,SAVINGS ACCOUNT - INDIVIDUAL,2017-06-14,0.00,0.00,0.00,...,22436777176,FCUBS,IBPS,N,NaN,N,None,N,None,NaT
4,440,0093245642,OKON PRINCE,SA_007,S,UNION SAVE MORE,2018-09-11,1216.20,1216.20,1216.20,...,22147629975,FCUBS,BULK ACCOUNT,Y,53.75,N,None,N,None,2022-01-04

In [6]:
#Explore Data

print(data.shape)

(20, 43)

In [7]:
print(data.describe())
#print(data.select_dtypes('object').columns)
#print(data.select_dtypes(np.number).columns)

       lcy_opening_bal  acy_opening_bal  lcy_curr_balance  acy_curr_balance  \
count        20.000000        20.000000         20.000000         20.000000
mean      37618.451500     37618.451500      37618.451500      37618.451500
std       94204.891772     94204.891772      94204.891772      94204.891772
min           0.000000         0.000000          0.000000          0.000000
25%           0.000000         0.000000          0.000000          0.000000
50%        1366.145000      1366.145000       1366.145000       1366.145000
75%        6593.187500      6593.187500       6593.187500       6593.187500
max      362174.080000    362174.080000     362174.080000     362174.080000

        cust_grp_no  total_blocked_amt
count  1.900000e+01           4.000000
mean   1.225800e+07          19.437500
std    2.170349e+06          23.564075
min    8.950501e+06           4.000000
25%    1.066782e+07           4.000000
50%    1.206969e+07          10.000000
75%    1.316906e+07          25.437500
max    1.727314e+07          53.750000

In [8]:
print(data.columns.to_series().groupby(data.dtypes).groups)

{datetime64[ns]: ['ac_open_date', 'maker_dt_stamp', 'checker_dt_stamp', 'last_txn_date'], float64: ['lcy_opening_bal', 'acy_opening_bal', 'lcy_curr_balance', 'acy_curr_balance', 'cust_grp_no', 'total_blocked_amt'], object: ['branch_code', 'cust_ac_no', 'ac_desc', 'account_class', 'ac_class_type', 'acc_class_desc', 'ac_stat_dormant', 'pnd', 'salary_account', 'tsp', 'product_gl', 'customer_type', 'customer_category', 'maker_id', 'checker_id', 'record_stat', 'auth_stat', 'active_status', 'pep_account', 'customer_tier', 'rm_code', 'intr_code', 'cbn_segment', 'business_segment', 'untagged', 'bvn', 'bvn_channel', 'acct_channel', 'blocked_status', 'loan_exists', 'loan_type', 'si', 'agent_id']}

In [9]:
print(data.isnull().sum())

branch_code           0
cust_ac_no            0
ac_desc               0
account_class         0
ac_class_type         0
acc_class_desc        0
ac_open_date          0
lcy_opening_bal       0
acy_opening_bal       0
lcy_curr_balance      0
acy_curr_balance      0
ac_stat_dormant       0
pnd                   0
salary_account        0
tsp                   0
product_gl            1
customer_type         0
customer_category     0
maker_id              0
maker_dt_stamp        0
checker_id            0
checker_dt_stamp      0
record_stat           0
auth_stat             0
active_status         0
pep_account           0
cust_grp_no           1
customer_tier         4
rm_code               0
intr_code             7
cbn_segment           0
business_segment      0
untagged              0
bvn                   3
bvn_channel           0
acct_channel          0
blocked_status        0
total_blocked_amt    16
loan_exists           0
loan_type            20
si                    0
agent_id             19
last_txn_date        15
dtype: int64

In [10]:
#make a copy of the data

data_copy = data.copy()

In [11]:
data_copy.head()

,branch_code,cust_ac_no,ac_desc,account_class,ac_class_type,acc_class_desc,ac_open_date,lcy_opening_bal,acy_opening_bal,lcy_curr_balance,...,bvn,bvn_channel,acct_channel,blocked_status,total_blocked_amt,loan_exists,loan_type,si,agent_id,last_txn_date
0,557,0129913620,MOSES OGHENERO AMINGO,SA_014,S,UNION KORRECT,2020-02-05,10260.05,10260.05,10260.05,...,22260526913,FCUBS,INSTANT TSP,N,NaN,N,None,N,None,NaT
1,182,0153681917,ADENIJI GANIYAT,SA_006,S,UNION SAVE,2021-03-08,2089.54,2089.54,2089.54,...,22611400976,FCUBS,IBPS,Y,4.00,N,None,N,None,2022-02-06
2,614,0075533705,ONYEMATA CHINEME D,SA_020,S,UNION FUTURE SAVINGS ACCOUNT,2018-01-29,0.00,0.00,0.00,...,22460875310,FCUBS,IBPS,N,NaN,N,None,N,None,NaT
3,609,0062788961,IDOWU OKUNOLA,SA_001,S,SAVINGS ACCOUNT - INDIVIDUAL,2017-06-14,0.00,0.00,0.00,...,22436777176,FCUBS,IBPS,N,NaN,N,None,N,None,NaT
4,440,0093245642,OKON PRINCE,SA_007,S,UNION SAVE MORE,2018-09-11,1216.20,1216.20,1216.20,...,22147629975,FCUBS,BULK ACCOUNT,Y,53.75,N,None,N,None,2022-01-04

In [12]:
#Add columns to the data using conditions

def create_columns(df):
    conditions = [
        (df['lcy_opening_bal'] <1000 ),
        (df['lcy_opening_bal'] >= 1000 )]
    
    # create a list of the values we want to assign for each condition
    values = [ 0, 1]

    # create a new column and use np.select to assign values to it using our lists as arguments
    df['indication'] = np.select(conditions, values)
    return df

In [14]:
import numpy as np
data = create_columns(data)

In [15]:
data.head()

,branch_code,cust_ac_no,ac_desc,account_class,ac_class_type,acc_class_desc,ac_open_date,lcy_opening_bal,acy_opening_bal,lcy_curr_balance,...,bvn_channel,acct_channel,blocked_status,total_blocked_amt,loan_exists,loan_type,si,agent_id,last_txn_date,indication
0,557,0129913620,MOSES OGHENERO AMINGO,SA_014,S,UNION KORRECT,2020-02-05,10260.05,10260.05,10260.05,...,FCUBS,INSTANT TSP,N,NaN,N,None,N,None,NaT,1
1,182,0153681917,ADENIJI GANIYAT,SA_006,S,UNION SAVE,2021-03-08,2089.54,2089.54,2089.54,...,FCUBS,IBPS,Y,4.00,N,None,N,None,2022-02-06,1
2,614,0075533705,ONYEMATA CHINEME D,SA_020,S,UNION FUTURE SAVINGS ACCOUNT,2018-01-29,0.00,0.00,0.00,...,FCUBS,IBPS,N,NaN,N,None,N,None,NaT,0
3,609,0062788961,IDOWU OKUNOLA,SA_001,S,SAVINGS ACCOUNT - INDIVIDUAL,2017-06-14,0.00,0.00,0.00,...,FCUBS,IBPS,N,NaN,N,None,N,None,NaT,0
4,440,0093245642,OKON PRINCE,SA_007,S,UNION SAVE MORE,2018-09-11,1216.20,1216.20,1216.20,...,FCUBS,BULK ACCOUNT,Y,53.75,N,None,N,None,2022-01-04,1

In [16]:
#Save data to excel

data.to_excel('account_master_sample.xlsx')

In [25]:
#Save data to database

dtyp = {c:types.VARCHAR(data[c].str.len().max())for c in data.columns[data.dtypes == 'object'].tolist()}
data.to_sql('ac_master_sample', engine, if_exists='replace', schema='stg_uat', index=False, dtype=dtyp)

In [22]:
data.head()

,branch_code,cust_ac_no,ac_desc,account_class,ac_class_type,acc_class_desc,ac_open_date,lcy_opening_bal,acy_opening_bal,lcy_curr_balance,...,bvn_channel,acct_channel,blocked_status,total_blocked_amt,loan_exists,loan_type,si,agent_id,last_txn_date,indication
0,557,0129913620,MOSES OGHENERO AMINGO,SA_014,S,UNION KORRECT,2020-02-05,10260.05,10260.05,10260.05,...,FCUBS,INSTANT TSP,N,NaN,N,None,N,None,NaT,1
1,182,0153681917,ADENIJI GANIYAT,SA_006,S,UNION SAVE,2021-03-08,2089.54,2089.54,2089.54,...,FCUBS,IBPS,Y,4.00,N,None,N,None,2022-02-06,1
2,614,0075533705,ONYEMATA CHINEME D,SA_020,S,UNION FUTURE SAVINGS ACCOUNT,2018-01-29,0.00,0.00,0.00,...,FCUBS,IBPS,N,NaN,N,None,N,None,NaT,0
3,609,0062788961,IDOWU OKUNOLA,SA_001,S,SAVINGS ACCOUNT - INDIVIDUAL,2017-06-14,0.00,0.00,0.00,...,FCUBS,IBPS,N,NaN,N,None,N,None,NaT,0
4,440,0093245642,OKON PRINCE,SA_007,S,UNION SAVE MORE,2018-09-11,1216.20,1216.20,1216.20,...,FCUBS,BULK ACCOUNT,Y,53.75,N,None,N,None,2022-01-04,1

In [23]:
#Save some columns to database

dtyp = {c:types.VARCHAR(data[c].str.len().max())for c in data.columns[data.dtypes == 'object'].tolist()}
data[['cust_ac_no','ac_desc','ac_open_date','account_class']].to_sql('customer_master_sample', engine, if_exists='replace', schema='stg_uat', index=False, dtype=dtyp)